<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/scripts/vendor/jquery-1.8.2.min.js"></script>
	<script src='/scripts/vendor/d3.v3.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src='/scripts/vendor/d3.v3.min.js'></script>
	<script data-main="/scripts/main.js" src="/scripts/vendor/require.js"></script>
</head>
<body>

	<div id="map"></div>

	<div id="ref"></div>

	<div class="ctrl-toggle">
		<button class="btn btn-primary">Controls</button>
	</div>

	<form class="controls">
		<div class="control-group">
			<button class="labels btn">Toggle Labels</button>
		</div>
		<div class="control-group">
			<label for="routes">Add route:</label>
			<select name="routes" id="routes">
				<option value="all">All routes</option>
			</select>
      <button class="clear btn btn-warning">Clear Routes</button>
		</div>
		<div class="control-group">
			<ul class="displayedRoutes"></ul>
		</div>
	</form>

	<h1 class="notify"></h1>

</body>
</html>
