body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ca {
  z-index: 0;
  path {
    fill: #ccc;
    stroke: #666;
  }
}

.neighborhoods {
  z-index: 1;
  path {
    fill: #ddd;
    stroke: #ff0000;
  }
}
.freeways {
  z-index: 2;
  path {
    stroke: pink;
    fill: none;
  }
}
.arteries {
  z-index: 3;
  path {
    stroke: #ffff00;
    fill: none;
  }
}
.streets {
  z-index: 4;
  path {
    stroke: #666;
    fill: none;
  }
}
