/* General
========================================================== */

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
  background-color: #dedede;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}

#ref {
  position: fixed;
  top: -1px;
  right: -1px;
  z-index: 3;
  height: 400px;
  width: 250px;
  border: 1px solid #aaa;
  background-color: #eee;
}

/* Controls & Chrome
========================================================== */

.notify {
  display: block;
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  width: 100%;
  font-size: 60px;
  line-height: 60px;
  height: 60px;
  text-align: center;
  font-weight: bold;
  opacity: 1;
  &.pop {
    -moz-animation-name: pop;
    -moz-animation-timing-function: linear-in-out;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -moz-animation-direction: normal;
    -webkit-animation-name: pop;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-direction: normal;
  }
}

.ctrl-toggle {
  padding: 12px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

form.controls {
  width: 180px;
  padding: 54px 12px 12px 12px;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: -198px;
  top: 0;
  margin: 0;
  z-index: 3;
  -webkit-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.9);
     -moz-box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.9);
          box-shadow: 0px 3px 12px 2px rgba(0,0,0,0.9);
  -webkit-transition: left 0.25s linear;  
     -moz-transition: left 0.25s linear;  
       -o-transition: left 0.25s linear;  
          transition: left 0.25s linear;
  &.open {
    left: 0;
  }
  .control-group {
    float: left;
    width: 180px;
    margin: 0 0 12px 0;

    #routes {
      width: 180px;
    }

    .displayedRoutes {
      display: block;
      width: 180px;
      margin: 0;
      padding: 0;
      li {
        display: block;
        float: left;
        height: 14px;
        width: 180px;
        line-height: 14px;
        font-size: 12px;
        margin: 0 0 2px 0;
        span {
          float: left;
          &.icon {
            height: 12px;
            width: 12px;
            margin: 0 6px 0 0;
            border: 1px solid #000;
          }
        }
      }
    }

  }
}

/* SVG Styles
========================================================== */

.vehicles {
  circle {
    //fill: #A1D99B;
    //stroke: #31A354;
    stroke: #fff;
    stroke-width: 1px;
  }
  .label {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
  }
  text {
    font-size: 10px;
    height: 20px;
  }
}

.ca {
  z-index: 0;
  path {
    fill: #ccc;
    stroke: #666;
  }
}

.neighborhoods {
  path {
    fill: rgb(8,81,156);
    fill: #dedede;
    stroke: #ffffff;
    stroke-width: 2px;
  }
}
.streets {
  path {
    stroke: #aaa;
    fill: none;
  }
}
.arteries {
  path {
    stroke: #a0a0a0;
    fill: none;
    strok-width: 2px;
  }
}
.freeways {
  path {
    stroke: #707070;
    fill: none;
  }
}

#ref .ref path {
  stroke: #fff;
  fill: #e0e0e0;
  &.sf_basic {
    fill: #00ff00;
    stroke: #0e0e0e;
  }
}

/* Animations
========================================================== */

// Pop (notification text)

@-moz-keyframes pop {
  0% {
    z-index: 4;
  }
  100% {
    font-size: 200px;
    opacity: 0;
  }
}

@-webkit-keyframes pop {
  0% {
    z-index: 4;
  }
  100% {
    font-size: 200px;
    opacity: 0;
  }
}
